/*body {
    background-color: #650d2a;
    color: #f4ecf9;
    font-size: 1.8em;
}*/


/*h1 {
    color: #b34112;
    text-align: center;
    background-color: #a4cfe7;
    height: 120px;
    margin: 0;
    padding-top: 60px;
    border-radius: 10px;
}*/

.navbar {
    background-color: #042e04;
}

.navbar-brand {
    color: #e4e6ab;
}
