* {
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background-color: #d6d6d6;
}

h1 {
    text-align: center;
    color: black;
}

section {
    border: 1px solid black;
    background-color: #b5c4d2;
    margin: 10px;
}

section>h2 {
    float: right;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    margin: 0;
    width: 230px;
    text-align: center;
    font-style: Times;
    font-size: 24px;
    font-weight: bold;
    height: 45px;
    padding-top: 10px;
}

section.lebesgue>h2 {
    background-color: #76b8db;
}

section.fubini>h2 {
    background-color: #4f7acd;
}

section.luzin>h2 {
    color: #e2e2e2;
    background-color: #10328a;
}

section>p {
    padding: 40px 15px 15px 15px;
}

.row {
    width: 100%;
}


/* Desktop view options */

@media (min-width: 992px) {
    .col-lg-4 {
        float: left;
        width: 33.33%;
    }
}


/* Tablet view options */

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        float: left;
        width: 50%;
    }
    #last {
        width: 100%;
    }
}


/* Mobile view options */

@media (max-width: 767px) {
    .col-sm-12 {
        float: left;
        width: 100%;
    }
